In [4]:
import pandas as pd
import pyreadstat
import pandas as pd
# sav 파일 경로 설정
file_path = "./Merged Data (1).sav"

# sav 파일 읽기
df, meta = pyreadstat.read_sav(file_path)

# DataFrame 출력
pd.DataFrame(df)

,Hours,IGD_Total,Hikikomori_Total,Age_New,Gender_New,Living_condition,Country
0,1.0,14.0,4.0,24.0,0.0,1.0,1.0
1,NaN,20.0,15.0,19.0,1.0,1.0,1.0
2,1.0,17.0,4.0,26.0,1.0,1.0,1.0
3,3.0,26.0,14.0,26.0,0.0,1.0,1.0
4,NaN,31.0,16.0,21.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...
606,2.0,15.0,10.0,30.0,1.0,0.0,0.0
607,15.0,20.0,5.0,30.0,1.0,0.0,0.0
608,2.0,13.0,7.0,30.0,0.0,0.0,0.0
609,2.0,29.0,14.0,30.0,1.0,1.0,0.0
610,2.0,15.0,10.0,30.0,1.0,0.0,0.0